<!doctype html>
<html class="no-js" lang="zxx">
    {% load static %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>College Feedback System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/img/favicon.png' %}">
        <!-- Place favicon.ico in the root directory -->
    
        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/gijgo.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    </head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area slider_bg_1">
                <div class="container-fluid p-0 slider_bg_1" >
                    <div class="row align-items-center no-gutters ">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img ">
                                <a href="index.html">
                                    <h4 style="color: white; font-size:x-large;"><img src="{% static 'main/img/edumark.png' %}" alt="logo">College Feedback</h4>
                                   </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 ml-auto ">
                            <div class="main-menu  d-none d-lg-block">
                                <nav >
                                    <ul id="navigation">
                                        <li><a href="{% url 'faculty_dashboard' %}">Dashboard</a></li>&nbsp; &nbsp; &nbsp; &nbsp;
                                        <li><a href="{% url 'faculty_my_profile' %}" >My Profile</a></li>&nbsp; &nbsp; &nbsp; &nbsp;
                                        <li><a class="active" href="{% url 'faculty_view_feedback' %}">Studnet Feedback</a></li>&nbsp; &nbsp; &nbsp; &nbsp;
                                        <li><a href="{% url 'index' %}">Logout</a></li>&nbsp; &nbsp; &nbsp; &nbsp;
                                        </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                            <div class="log_chat_area d-flex align-items-center">
                                <a href="#test-form" class="login popup-with-form">
                                    <i class="flaticon-user"></i>
                                    <span>log in</span>
                                </a>
                                <div class="live_chat_btn">
                                    <a class="boxed_btn_orange" href="#">
                                        <i class="fa fa-phone"></i>
                                        <span>+10 378 467 3672</span>
                                    </a>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider d-flex align-items-center justify-content-center "  >
             <div class="container pt-5">
                <center>
                     <div class="col-lg-12 grid-margin stretch-card">
                    <div class="card">
                      <div class="card-body p-1" >
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                 <th colspan="4">
                                     <center><h4 class="card-title pr-5" style="color: rgb(45, 62, 219);">Student Opinion</h4> </center>
                                 </th>
                               </tr>
                              </thead>
                              <tbody>
                                {% for f in fed %}
                                  <tr>
                                    <td>
                                        1.Passion And Enthusiasm To Teach
                                        {% if f.passion_and_enthusiasm_to_teach == 1 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                         
                                         {% endif %}
                                         {% if f.passion_and_enthusiasm_to_teach == 2 %}
                                        
                                         <span class="fa fa-star checked" style="color:orange"></span>
                                         <span class="fa fa-star checked" style="color:orange"></span>
                                        
          
                                         {% endif %}
                                        {% if f.passion_and_enthusiasm_to_teach == 3 %}
                                        
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                         
                                         {% endif %}
                                         {% if f.passion_and_enthusiasm_to_teach == 4 %}
                                        
                                         <span class="fa fa-star checked" style="color:orange"></span>
                                         <span class="fa fa-star checked" style="color:orange"></span>
                                         <span class="fa fa-star checked" style="color:orange"></span>
                                         <span class="fa fa-star checked" style="color:orange"></span>
                                          
                                         {% endif %}
                                         {% if f.passion_and_enthusiasm_to_teach == 5 %}
                                        
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                         
                                         {% endif %}
                                    </td>
                                    <td>
                                        6.Quality of lillustrative example
                                        {% if f.quality_of_illustrative_example == 1 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                        {% endif %}
                                        {% if f.quality_of_illustrative_example == 2 %}                         
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.quality_of_illustrative_example == 3 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                              
                                               
                                        {% endif %}
                                        {% if f.quality_of_illustrative_example == 4 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                              
                                                
                                        {% endif %}
                                        {% if f.quality_of_illustrative_example == 5 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                               
                                        {% endif %}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>
                                        2.Subject f.subject_knowledge
                                        {% if f.subject_knowledge == 1 %}  
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}

                                        {% if f.subject_knowledge == 2 %}                                         
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}

                                        {% if f.subject_knowledge == 3 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                        {% endif %}
                                        {% if f.subject_knowledge == 4 %} 
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>       
                                        {% endif %}
                                        {% if f.subject_knowledge == 5 %}  
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        7.Regularity punctuality and uniform coverage of syllabus
                                        {% if f.regularity_punctuality_and_uniform_coverage_of_syllabus == 1 %}        
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.regularity_punctuality_and_uniform_coverage_of_syllabus == 2 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.regularity_punctuality_and_uniform_coverage_of_syllabus == 3 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
          
                                               
                                        {% endif %}
                                        {% if f.regularity_punctuality_and_uniform_coverage_of_syllabus == 4 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
          
                                              
                                                
                                        {% endif %}
                                        {% if f.regularity_punctuality_and_uniform_coverage_of_syllabus == 5 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
          
                                               
                                        {% endif %}
                                    </td>
                                 </tr>
                                  <tr>
                                 
                                    <td>
                                        3.Clarity and Emphasis on Concept
                                        {% if f.clarity_and_emphasis_on_concept == 1 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.clarity_and_emphasis_on_concept == 2 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.clarity_and_emphasis_on_concept == 3 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
          
                                               
                                        {% endif %}
                                        {% if f.clarity_and_emphasis_on_concept == 4 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
          
                                              
                                                
                                        {% endif %}
                                        {% if f.clarity_and_emphasis_on_concept == 5 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
          
                                               
                                        {% endif %}
                                    </td>
                                    <td>
                                        8.Discipline and control over the class
                                        {% if f.discipline_and_control_over_the_class == 1 %}   
                                        <span class="fa fa-star checked" style="color:orange"></span>                                                       
                                        {% endif %}
                                        {% if f.discipline_and_control_over_the_class == 2 %}                                       
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>        
                                        {% endif %}
                                        {% if f.discipline_and_control_over_the_class == 3 %}   
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                               
                                        {% endif %}
                                        {% if f.discipline_and_control_over_the_class == 4 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                              
                                                
                                        {% endif %}
                                        {% if f.discipline_and_control_over_the_class == 5 %}
                                              
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                               
                                        {% endif %}
                                    </td>
                                  </tr>
                                  <tr>
                                  
                                    <td>
                                       4.Motivation and Inspiration the Student
                                       {% if f.motivation_and_inspiration_the_student ==  1 %}
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       {% endif %}
                                       {% if f.motivation_and_inspiration_the_student == 2 %}
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       {% endif %}
                                       {% if f.motivation_and_inspiration_the_student == 3 %}
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span> 
                                       {% endif %}
                                       {% if f.motivation_and_inspiration_the_student == 4 %}
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>                                
                                       {% endif %}
                                       {% if f.motivation_and_inspiration_the_student == 5 %}
                                      
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       <span class="fa fa-star checked" style="color:orange"></span>
                                       {% endif %}
                                    </td>
                                    <td>
                                       9.Promoting student thinking
                                        {% if f.promoting_student_thinking == 1 %} 
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.promoting_student_thinking == 2 %}             
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.promoting_student_thinking == 3 %}            
                                        <span class="fa fa-star checked" sle="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.promoting_student_thinking == 4 %}             
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.promoting_student_thinking == 5 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>   
                                        {% endif %}
                                    </td>
                                  </tr>
                                  <tr>
                                 
                                    <td>
                                        5.Creating Interest in Subject
                                        {% if f.creating_interest_in_subject == 1 %}   
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.creating_interest_in_subject == 2 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.creating_interest_in_subject == 3 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.creating_interest_in_subject == 4 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.creating_interest_in_subject == 5 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        10.Encouraging and student interaction
                                        {% if f.encouraging_and_student_interation == 1 %}       
                                        <span class="fa fa-star checked" style="color:orange"></span> 
                                        {% endif %}
                                        {% if f.encouraging_and_student_interation == 2 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.encouraging_and_student_interation == 3 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>    
                                        {% endif %}
                                        {% if f.encouraging_and_student_interation == 4 %}
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                        {% if f.encouraging_and_student_interation == 5 %}             
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        <span class="fa fa-star checked" style="color:orange"></span>
                                        {% endif %}
                                    </td>
                                  </tr>
                                 {% endfor %}
                               </tbody>
                           </table>
                           </div>
                      </div>
                    </div>
                  </div></center>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
 
    <!-- about_area_end -->

    <!-- popular_courses_start -->
   
    <!-- popular_courses_end-->


    <!-- testimonial_area_start -->
  
    <!-- testimonial_area_end -->

    <!-- our_courses_start -->
   
    <!-- our_courses_end -->

    <!-- subscribe_newsletter_Start -->
   
    <!-- subscribe_newsletter_end -->

    <!-- our_latest_blog_start -->
 
    <!-- our_latest_blog_end -->


    <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <h4 style="color: white; font-size:x-large;"><img src="{% static 'main/img/edumark.png' %}" alt="logo">College Feedback</h4>
                                   </a>
                            </div>
                            
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Quick Link
                            </h3>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a> &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'faculty_login' %}">Faculty</a></li>
                                <li><a href="{% url 'student_login' %}">Student</a> &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'hostel_login' %}"> Hostel</a></li>
                                <li><a href="{% url 'admin_login' %}">Admin</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'transport_login' %}"> Transport</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Facilities
                            </h3>
                            <ul>
                                <li><a href="#">Hostel</a></li>
                                <li><a href="#">Transportation</a></li>
                               
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <p>
                                L.B Nagar <br>
                                Near Metro Station<br>
                                Snehapuri Colony
                                info@codebook.in
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i> by  <a href="https://codebook.in/" target="_blank">Codebook.in</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->


    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'main/img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Sign] in</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" placeholder="Enter email">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign in</button>
                        </div>
                    </div>
                </form>
                <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
                </p>
            </div>
        </div>
    </form>
    <!-- form itself end -->

     
    <!-- form itself start-->
    <form id="test-form2" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'main/img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Registration</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" placeholder="Enter email">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="Password" placeholder="Confirm password">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <!-- form itself end -->


  <!-- JS here -->
  <script src="{% static 'main/js/vendor/modernizr-3.5.0.min.js' %}"></script>
  <script src="{% static 'main/js/vendor/jquery-1.12.4.min.js' %}"></script>
  <script src="{% static 'main/js/popper.min.js' %}"></script>
  <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'main/js/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'main/js/ajax-form.js' %}"></script>
  <script src="{% static 'main/js/waypoints.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
  <script src="{% static 'main/js/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'main/js/scrollIt.js' %}"></script>
  <script src="{% static 'main/js/jquery.scrollUp.min.js' %}"></script>
  <script src="{% static 'main/js/wow.min.js' %}"></script>
  <script src="{% static 'main/js/nice-select.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.slicknav.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
  <script src="{% static 'main/js/plugins.js' %}"></script>
  <script src="{% static 'main/js/gijgo.min.js' %}"></script>

  <!--contact js-->
  <script src="{% static 'main/js/contact.js' %}"></script>
  <script src="{% static 'main/js/jquery.ajaxchimp.min.js' %}"></script>
  <script src="{% static 'main/js/jquery.form.js' %}"></script>
  <script src="{% static 'main/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'main/js/mail-script.js' %}"></script>

  <script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>