<!doctype html>
<html class="no-js" lang="zxx">
    {% load static %}
<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>College Feedback System</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <!-- <link rel="manifest" href="site.webmanifest"> -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/img/favicon.png' %}">
        <!-- Place favicon.ico in the root directory -->
    
        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/gijgo.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
       
        <!-- <link rel="stylesheet" href="css/responsive.css"> -->
        <script type="text/javascript"> 
          function loginvalidation(){ 
              var Email = document.myform.email 
              var passw=  /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{5,16}$/; 
              var mailformat = /^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/; 
              var Feedback =  document.myform.feedback 
               
              if (Feedback.value==""){ 
                  alert("Please Enter Feedback:"); 
                  Feedback.focus(); 
                  return false; 
              }  
      
              return true;    
          } 
       </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area  slider_bg_1 ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0 " >
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo-img">
                                <a href="index.html">
                                 <h4 style="color: white; font-size:x-large;"><img src="{% static 'main/img/edumark.png' %}" alt="logo">College Feedback</h4>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 ml-auto">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'student_dashboard' %}">Dashboard</a></li>&nbsp; &nbsp;
                                        <li><a href="{% url 'student_my_profile' %}" >My Profile</a></li>&nbsp; &nbsp;
                                        <li><a href="{% url 'student_faculty_choose' %}">Faculty Feedback</a></li>
                                        <li><a href="{% url 'student_hostel_feedback' %}">Hostel Feedback</a></li>
                                        <li><a class="active" href="{% url 'student_transport_choose' %}">Transport Feedback</a></li>
                                        <li><a href="{% url 'index' %}">Logout</a></li>&nbsp; &nbsp; &nbsp; &nbsp;
                                        </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
   
   <!-- bradcam_area_end -->

   <div class="about_area " >
    <div class="container" >
        <div class="row" style="padding-right:50px;">
            <div class="col-xl-12 col-lg-12" >
                         <div class="card">
                           <div class="card-body">
                             <center><h4 class="card-title" style="color: rgb(54, 126, 233);">Add Your Transportation Feedback</h4></center>
                             <hr>
                             <br>
                             <form method="post" enctype="multipart/form-data" onsubmit = "return loginvalidation()"  name="myform">
                                {% csrf_token %}
                               <div class="row">
                                 <div class="col-md-6">
                                   <div class="form-group row">
                                     <label class="col-sm-3 col-form-label"  style="color: rgb(75, 75, 77);">Vechicle ID</label>
                                     <div class="col-sm-7">
                                        <select class="form-control" name="vechicleid">
                                         
                                          {% for i in v %}
                                          <option>{{i.vechicle_id}} </option>
                                          {% endfor %}
                                        </select>
                                      </div>
                                   </div>
                                 </div>
                                 <div class="col-md-6">
                                   <div class="form-group row">
                                     <label class="col-sm-3 col-form-label" style="color:  rgb(75, 75, 77)">Root</label>
                                     <div class="col-sm-7">
                                      <select class="form-control" name="route">
                                         
                                          {% for i in v %}
                                          <option>{{i.route}} </option>
                                          {% endfor %}
                                        </select>
                                     </div>
                                   </div>
                                 </div>
                             </div>
                             <br>
                               <div class="row">
                                 <div class="col-md-6">
                                   <div class="form-group row">
                                     <label class="col-sm-3 col-form-label" style="color: rgb(75, 75, 77)">Give Feedback</label> 
                                     <div class="col-sm-7"> 
                                       <textarea cols="90" name="feedback"  placeholder="Enter Your Feedback Here..."></textarea> 
                                     </div>
                                   </div>
                                 </div>
                               </div>
                              <!-- <center> <button type="button" class="btn  " style="color: white; background-color:rgb(188, 190, 20);">Submit</button>
                               <button type="button" class="btn  " style="color: white; background-color:rgb(241, 58, 128);">Cancel</button></center> -->
                               <center><button type="submit" class="btn" style="background-color:orange;">Submit Here</button></center> 
                           
                            </form>
                              </div>
                         </div>
                     </div>
                  </div>
             </div>
        </div>
    <!-- our_courses_end -->

    <!-- subscribe_newsletter_Start -->
   
    <!-- subscribe_newsletter_end -->

    <!-- our_latest_blog_start -->
 
    <!-- our_latest_blog_end -->


    <!-- footer -->
    <footer class="footer footer_bg_1">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="index.html">
                                    <h4 style="color: white; font-size:x-large;"><img src="{% static 'main/img/edumark.png' %}" alt="logo">College Feedback</h4>
                                   </a>
                            </div>
                            
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Quick Link
                            </h3>
                            <ul>
                                <li><a href="{% url 'index' %}">Home</a> &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'faculty_login' %}">Faculty</a></li>
                                <li><a href="{% url 'student_login' %}">Student</a> &nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'hostel_login' %}"> Hostel</a></li>
                                <li><a href="{% url 'admin_login' %}">Admin</a>&nbsp; &nbsp; &nbsp; &nbsp;<a href="{% url 'transport_login' %}"> Transport</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-2 offset-xl-1 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Facilities
                            </h3>
                            <ul>
                                <li><a href="#">Hostel</a></li>
                                <li><a href="#">Transportation</a></li>
                               
                            </ul>

                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Address
                            </h3>
                            <p>
                                L.B Nagar <br>
                                Near Metro Station<br>
                                Snehapuri Colony
                                info@codebook.in
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart-o" aria-hidden="true"></i> by  <a href="https://codebook.in/" target="_blank">Codebook.in</a>
      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->


    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'main/img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Sign] in</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" placeholder="Enter email">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign in</button>
                        </div>
                    </div>
                </form>
                <p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a>
                </p>
            </div>
        </div>
    </form>
    <!-- form itself end -->

     
    <!-- form itself start-->
    <form id="test-form2" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#">
                        <img src="{% static 'main/img/form-logo.png' %}" alt="">
                    </a>
                </div>
                <h3>Registration</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-12 col-md-12">
                            <input type="email" placeholder="Enter email">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="password" placeholder="Password">
                        </div>
                        <div class="col-xl-12 col-md-12">
                            <input type="Password" placeholder="Confirm password">
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed_btn_orange">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <!-- form itself end -->

 <!-- JS here -->
 <script src="{% static 'main/js/vendor/modernizr-3.5.0.min.js' %}"></script>
 <script src="{% static 'main/js/vendor/jquery-1.12.4.min.js' %}"></script>
 <script src="{% static 'main/js/popper.min.js' %}"></script>
 <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
 <script src="{% static 'main/js/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'main/js/ajax-form.js' %}"></script>
 <script src="{% static 'main/js/waypoints.min.js' %}"></script>
 <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
 <script src="{% static 'main/js/imagesloaded.pkgd.min.js' %}"></script>
 <script src="{% static 'main/js/scrollIt.js' %}"></script>
 <script src="{% static 'main/js/jquery.scrollUp.min.js' %}"></script>
 <script src="{% static 'main/js/wow.min.js' %}"></script>
 <script src="{% static 'main/js/nice-select.min.js' %}"></script>
 <script src="{% static 'main/js/jquery.slicknav.min.js' %}"></script>
 <script src="{% static 'main/js/jquery.magnific-popup.min.js' %}"></script>
 <script src="{% static 'main/js/plugins.js' %}"></script>
 <script src="{% static 'main/js/gijgo.min.js' %}"></script>

 <!--contact js-->
 <script src="{% static 'main/js/contact.js' %}"></script>
 <script src="{% static 'main/js/jquery.ajaxchimp.min.js' %}"></script>
 <script src="{% static 'main/js/jquery.form.js' %}"></script>
 <script src="{% static 'main/js/jquery.validate.min.js' %}"></script>
 <script src="{% static 'main/js/mail-script.js' %}"></script>

 <script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>